/*GENERAL STYLES*/ 

body{
    background-color: #111111;
    color: #ffffff;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

/*HEADER*/

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo{
    position: absolute;
    display: flex;
    top: 1%;
    left: 20%;
    z-index: 5;
}
#header-logo img{
    width: 500px;
}

/*.navigation{
    position: absolute;
    top: 10%;
    left: 85%;
    width: 70px;
    height: 70px;
    background: #212532;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.8s;
}
.navigation.active{
    width: 200px;
    height: 200px;
    transition-delay: 0s;
}
.navigation span{
    position: absolute;
    width: 7px;
    height: 7px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.navigation.active span{
    width: 45px;
    height: 45px;
    background: #333849;
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}
.navigation span ion-icon{
    transition: 0.5s;
    font-size: 0em;
}
.navigation.active span ion-icon{
    font-size: 1.35em;
    color: #fff;
}
.navigation.active span:hover ion-icon{
    color: #2dfc52;
    filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 15px #2dfc52);
}



#menu-list{    
    margin: 5% 10% 0 0;
    list-style: none;
}
.men-list{
    font-size: 50px;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.men-list::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #87bc58;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.men-list:hover:before, .men-list:focus:before, .men-list:active:before{
    right: 0;
}*/



/*CONTAINER*/
.container{
    position: relative;
    text-align: center;
    display: flex;
    justify-content:space-around;
    align-items:center;
    visibility: hidden;
    flex-wrap: wrap;
    margin-top: 15%;
}
.container > *{
    visibility:visible;
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
.container:hover > *{
    opacity: 0.4; transform: scale(0.9);
}
.container > *:hover{
    opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms;
}

#about-me, #sysadmin, #web-dev, #projects, #hardware, #notes{
    margin: 3% 5% 3% 5%;
}

#about-content, #sysadmin-content, #web-content, #projects-content, #hardware-content, #notes-content{
    color: #ffffff;
    /*size for background text*/
    width: fit-content;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    /*background-color: rgba(141, 196, 70, 0.719);*/
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
    /*backdrop-filter: blur(15em);*/
}

#about-me:hover, #sysadmin:hover, #web-dev:hover,  #projects:hover, #hardware:hover, #notes:hover{
    transform: translate(0) scale(1);
}

#about-content img, #sysadmin-content img, #web-content img,  #projects-content img, #hardware-content img,#notes-content img {
    width: 200px;

}
#about-me h2, #sysadmin h2, #web-dev h2,  #projects h2, #hardware h2, #notes h2{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
    z-index: 2;
    height: 20px;
    text-align: center;
}


/*FOOTER*/
footer{
    align-items: center;
    background-color: #262626;
    bottom: 0;
    color: #666666;
    display: flex;
    font-size: 15px;
    height: 30px;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}


 
