*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /*cursor : url("../img/cursor.cur"),auto;*/
    /*background: #222;*/
    background-color: #111111;
    /*background-image: url(../img/back);*/
    flex-direction: row;
}
.container img{
    width: 150px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: fit-content;
    min-height: fit-content;
    filter: grayscale(150%);
  }

#header-logo{
    position: absolute;
    display: flex;
    top: 5%;
    left: 5%;
    z-index: 5;
}
#header-logo img{
    width: 450px;
    margin-left: 20%;
}
.container{
    position: relative;
    width: 50%;
    left: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0 0 20px;
    
}

.social-media{
    position: relative;
    width: 20%;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    margin-left: -5%;
    margin-top: 40%;
}
.button {
    width: 90px;
    border-radius:15px;
    padding: 15px 25px;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.social-media ul li{
    list-style: none;
}
.social-media img:hover{
    background-color:#87bc5818
}
.container .card{
    position: relative;
    width: 45%;
    height: 250px;
    background: #ffffff;
    display: flex;
    margin: 10px 0;
    border-radius: 10px;
}
.container .card .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgb(43, 43, 43);*/
    background-color: rgb(4, 4, 4);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
}
.container .card:hover .imgBx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #87bc58;
}

.container .card .imgBx:before{
    filter: blur(1.5px);
    content: attr(data-text);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.123);
    font-weight: 700;
}

.container .card:hover .imgBx img{
    max-width: 75px;
    
}
.container .card:hover .imgBx #glasses{
    content: url("../img/cards/glasses.png");
}
.container .card:hover .imgBx #terminal{
    content: url("../img/cards/terminal.png");
}
.container .card:hover .imgBx #coding{
    content: url("../img/cards/coding.png");
}
.container .card:hover .imgBx #laptop{
    content: url("../img/cards/laptop.png");
}
.container .card:hover .imgBx #motherboard{
    content: url("../img/cards/motherboard.png");
}
.container .card:hover .imgBx #rocket{
    content: url("../img/cards/rocket.png");
}
.container .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content h3{
    margin-bottom: 5px;
    font-size: 24px;

}
.container .card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

/*FOOTER*/
footer{
    align-items: center;
    /*background-color: #262626;*/
    color: #4b4a4a;
    bottom: 0;
    /*color: #666666;*/
    display: flex;
    font-size: 15px;
    height: 30px;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

@media (max-width: 1500px){
    #header-logo{
        position: fixed;
        display: flex;
        width: 70%;
        z-index: 5;
    }
    #header-logo img{
        width: 150px;
        margin-top: 20%;
        margin-left: 60%;
        content: url("../img/logo/logo_blanco_peq.png");
    }
    .social-media{
        position: fixed;
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 60%;
        margin-top: 10%;
        border-radius: 10px;
    }
    .container{
        width: 40%;
        height: 70%;
        flex-direction: row;
        align-items: center;
    }

}
@media (max-width: 912px){
    #header-logo img{
        width: 150px;
        margin-top: 150%;
        margin-left: 5%;
        content: url("../img/logo/logo_blanco_peq.png");
    }
    .social-media{
        position: fixed;
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 70%;
        margin-top: -35%;
        border-radius: 10px;
    }
    .container{
        width: 70%;
        height: 70%;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 856px){
    #header-logo img{
        width: 150px;
        margin-top: 80%;
        margin-left: 5%;
        content: url("../img/logo/logo_blanco_peq.png");
    }
    .social-media{
        position: fixed;
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 70%;
        margin-top: -70%;
        border-radius: 10px;
    }
    .container{
        width: 70%;
        height: 70%;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 768px){
    #header-logo img{
        width: 150px;
        margin-top: 80%;
        margin-left: 5%;
        content: url("../img/logo/logo_blanco_peq.png");
    }
    .social-media{
        position: fixed;
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 70%;
        margin-top: -70%;
        border-radius: 10px;
    }
    .container{
        width: 70%;
        height: 70%;
        flex-direction: column;
        align-items: center;
    }
    

}

@media (max-width: 577px){
    #header-logo img{
        width: 100px;
        margin-top: 90%;
        margin-left: 15%;
        content: url("../img/logo/logo_blanco_peq.png");
    }
    .social-media{
        position: fixed;
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 70%;
        margin-top: -130%;
        border-radius: 10px;
    }
    .button {
        width: 80px;
        border-radius:15px;
        padding: 15px 25px;
        transition: .5s;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    }
    .container{
        width: 60%;
        height: 60%;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        position: relative;
        width: 50%;
        height: 250px;
        background: #ffffff;
        display: flex;
        margin: 10px 0;
        border-radius: 10px;
    }.container .card .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgb(43, 43, 43);*/
        background-color: rgb(4, 4, 4);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        border-radius: 8px;
    }
    .container .card:hover .imgBx{
        width: 100px;
        height: 100px;
        left: -75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        background: #87bc58;
    }
    
    .container .card .imgBx:before{
        filter: blur(1.5px);
        content: attr(data-text);
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 50%;
        text-align: justify;
        font-size: 6em;
        color: rgba(255, 255, 255, .05);
        font-weight: 700;
    }
    .container .card .content{
        position: absolute;
        right: -20%;
        width: calc(100% - 75px);
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .card .content h3{
        margin-top:-25%;
        margin-left: -10%;
        margin-bottom: 15%;
        font-size: 20px;
    
    }
    .container .card .content a{
        display: inline-block;
        margin-top: 5px;
        padding: 5px 10px;
        background: #333;
        text-decoration: none;
        color: #fff;
    }
        
    
}
@media (max-width: 460px){
    #header-logo img{
        width: 100px;
        margin-top: 120%;
        margin-left: 10%;
        content: url("../img/logo/logo_blanco_peq.png");
    }
    .social-media{
        position: fixed;
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 60%;
        margin-top: -100%;
        border-radius: 10px;
    }
    .button {
        width: 80px;
        border-radius:15px;
        padding: 15px 25px;
        transition: .5s;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    }
    .container{
        width: 60%;
        height: 60%;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        position: relative;
        width: 60%;
        height: 200px;
        background: #ffffff;
        display: flex;
        margin: 10px 0;
        border-radius: 10px;
    }
    .container .card .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgb(43, 43, 43);*/
        background-color: rgb(4, 4, 4);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        border-radius: 8px;
    }
    .container .card .imgBx img{
        width: 80%;
    }
    .container .card:hover .imgBx{
        width: 80px;
        height: 80px;
        left: -75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        background: #87bc58;
    }
    .container .card:hover .imgBx img{
        max-width: 50px;
        
    }
    .container .card .imgBx:before{
        filter: blur(1.5px);
        content: attr(data-text);
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 50%;
        text-align: justify;
        font-size: 3em;
        color: rgba(255, 255, 255, .05);
        font-weight: 700;
    }
    .container .card .content{
        position: absolute;
        right: -20%;
        width: 10%;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .card .content h3{
        margin-top:-15%;
        margin-left: 5%;
        margin-bottom: 15%;
        font-size: 20px;
    
    }
    .container .card .content a{
        display: inline-block;
        margin-top: 5px;
        padding: 2% 5%;
        background: #333;
        text-decoration: none;
        color: #fff;
    }
        
    
}

@media (max-width: 280px){
    #header-logo img{
        position: fixed;
        width: 90px;
        margin-top: 10%;
        margin-left: 1%;
        content: url("../img/logo/logo_blanco_peq.png");
    }
    .social-media{
        position: fixed;
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 50%;
        margin-top: -150%;
        border-radius: 10px;
    }
    .button {
        width: 80px;
        border-radius:15px;
        padding: 15px 25px;
        transition: .5s;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    }
    .container{
        width: 80%;
        height: 60%;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        position: relative;
        width: 60%;
        height: 200px;
        background: #ffffff;
        display: flex;
        margin: 10px 0;
        margin-right: -25%;
        border-radius: 10px;
    }
    .container .card .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgb(43, 43, 43);*/
        background-color: rgb(4, 4, 4);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        border-radius: 8px;
    }
    .container .card .imgBx img{
        width: 80%;
    }
    .container .card:hover .imgBx{
        width: 80px;
        height: 80px;
        left: -75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        background: #87bc58;
    }
    .container .card:hover .imgBx img{
        max-width: 50px;
        
    }
    .container .card .imgBx:before{
        filter: blur(1.5px);
        content: attr(data-text);
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 50%;
        text-align: justify;
        font-size: 3em;
        color: rgba(255, 255, 255, .05);
        font-weight: 700;
    }
    .container .card .content{
        position: absolute;
        right: -20%;
        width: 10%;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .card .content h3{
        margin-top:-15%;
        margin-left: 5%;
        margin-bottom: 15%;
        font-size: 20px;
    
    }
    .container .card .content a{
        display: inline-block;
        margin-top: 5px;
        padding: 2% 5%;
        background: #333;
        text-decoration: none;
        color: #fff;
    }
        
    
}