*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #10131c;
}

ul{
    position: relative;
    display: flex;
}
ul li{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
}
ul li a .fa-brands, ul li a .fa-solid{
    font-size: 6em;
    color: #222;
}
ul li::before{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
ul li:nth-child(1)::before{
    content: '\f232' ;
    color: greenyellow;
    border-bottom: 4px solid greenyellow;
}
ul li:hover::before{
    height: 100%;
}